body {
  margin: 0;
  color: white;
  background-color: #0f3460;
}
.About,
.Skills,
.Work,
.Contact {
  height: 100%;
  min-height:100vh;
  background-color: #0f3460;
  margin-left: 15vw;
  padding-left: 5%;
  padding-right: 5%;
}
.top-space{
  margin-top:2%;
  margin-bottom:5%;
  color:#0f3460; 
}
.menu {
  height: 100%;
  width: 15vw;
  background-color: #16213e;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 25vh;
  margin-top: 0px;
}
.menu ol {
  margin: auto 0 0 0;
}
.menu ol li {
  display: block;
  text-align: left;
  padding: 0.75rem 1rem;
  color: #e94560;
  font-size: larger;
  font-weight: bold;
}
.menu ol li a:hover{
 background-color: #e94560;
  color:#16213e; 
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  transform: scale(0.3, 1);
  transform-origin: left top;
  transition: color 0.1s;
}
.menu a {
  color: #e94560;
  text-decoration: none;
}
.menu-icon{
  width:30px;
  height:30px; 
  margin-bottom:1rem;
}
.menu-icon:hover{
  transform: rotate(-10deg);
}
.About h2{
  color:#e94560;
  font-weight: bold; 
}
.About h1{
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.About h1 span.typed-text{
  font-weight: bold;
  color: #e94560;
} 
.About h1 span.cursor, .About h1 span.cursor.typing{
  color:#724fa7;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #724fa7;
  }
}
.image-frame{
  position: relative; 
  background-color: #e94560; 
  height: 15rem; 
  width: 13rem; 
}
.image-frame-layer{
  position: absolute;
  background-color: #0f3460;
}
.image-frame-layer-1{
  z-index: 10;  
  height: 14rem; 
  width: 12rem; 
  top: 0.5rem; 
  left:0.5rem;
}
.image-frame-layer-2{
  height: 11rem; 
  width: 9rem; 
  top: 0rem; 
  right:0rem;
}
.image-frame-layer-3{
  height: 11rem; 
  width: 9rem; 
  bottom: 0rem; 
  left:0rem;
}
.Profile-pic{
  height:13rem; 
  width:11rem;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
	-filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
  -transition: .3s ease-in-out;
  -webkit-transform: scale(1);
	transform: scale(1);
  -webkit-transform: .3s ease-in-out;
	transform: .3s ease-in-out;
}
.Profile-pic:hover{
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
	filter: sepia(0);
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.About p{
  font-size: 1.125rem;
}
.Glow-button{
  padding: 1rem 2.5rem;
  background-color:#e94560;
  color: white;
  border:none;
  font-size:1.125rem;
  border-radius:3rem;
  cursor:pointer;
  font-weight: bold;
  letter-spacing: 1px;
  decoration:none;
  box-shadow:0 2px 8px -1px rgba(0,0,0,0.5),
             0 0 6px #e94560;
  transition:box-shadow 0.2s ease-in-out;
}
.Glow-button:hover {
  box-shadow:0 2px 8px -1px rgba(0,0,0,0.5),
             0 0 20px 4px #e94560,
             0 0 15px 3px #e94560,
             0 0 6px 2px #e94560;
}
.side-note{
position:absolute; 
letter-spacing: 2px; 
writing-mode: vertical-rl; 
right:1rem; 
bottom: 1rem;
}
.skill-container{
 min-height: 100vh;
}

#slideshow {
  display:flex;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.entire-content {
  margin: auto;
  width: 12rem;
  perspective: 1000px;
  position: relative;
}

.content-carrousel {
  width: 100%;
  /* position: absolute; */
  float: right;
  animation: rotar 40s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(320deg) translateZ(400px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(280deg) translateZ(400px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(240deg) translateZ(400px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(200deg) translateZ(400px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(400px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(120deg) translateZ(400px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(80deg) translateZ(400px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(40deg) translateZ(400px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(0deg) translateZ(400px);
}
.shadow {
  position: absolute;
  -webkit-box-shadow: -27px -22px 36px -1px #e94560;
  -moz-box-shadow: -27px -22px 36px -1px #e94560;
  box-shadow: 0px 0px 15px 0px #e94560 !important;
  border-radius: 1px;
}

.shadow a {
  color: #fff;
  font-size: 10px;
  text-decoration: none ;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.1);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.work-container{
  min-height:100vh;
}
.flipcards {
  width: 30rem;
  height: 20rem;
  text-align: center;
  margin: 0 1rem;
  margin-top: 2rem;
}
.flip { 
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -o-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  float: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.front,
.back {
  width: 100%;
  height: 100%;
}

.front {
  border-radius: 2rem;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip .front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}

.flip:hover .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.back {
  background:#16213e;
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  z-index: 1;
}

.flip:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.front-container {
  -webkit-transform: translateY(-50%) translateX(0px) scale(1);
  -moz-transform: translateY(-50%) translateX(0px) scale(1);
  -o-transform: translateY(-50%) translateX(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) scale(1);
  transform: translateY(-50%) translateX(0px) scale(1);
  transform-style: preserve-3d;
  z-index: 2;
}

.flip:hover .front-container {
  -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
  -moz-transform: translateY(-50%) translateX(-650px) scale(.88);
  -o-transform: translateY(-50%) translateX(-650px) scale(.88);
  -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
  transform: translateY(-50%) translateX(-650px) scale(.88);
  transform-style: preserve-3d;
}

.back-container {
  -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  -moz-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  -o-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform-style: preserve-3d;
  z-index: 2;
}
.front-container, .back-container{
  padding: 40px;
  text-align: center;
  position: relative;
  top: 50%;
}

.flip:hover .back-container {
  -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -moz-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -o-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform-style: preserve-3d;
}

.front, .front-container,.back,.back-container {
  -webkit-transition: transform 1s cubic-bezier(.5, .3, .3, 1);
  -ms-transition: transform 1s cubic-bezier(.5, .3, .3, 1);
  -moz-transition: transform 1s cubic-bezier(.5, .3, .3, 1);
  -o-transition: transform 1s cubic-bezier(.5, .3, .3, 1);
  transition: transform 1s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 1s cubic-bezier(.5, .3, .3, 1);
}

.project-button {
  padding: 1rem 2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 1rem;
  text-decoration: none;
  margin: 1rem;
  background: linear-gradient(to right, #e94560, #724fa7);
  transition: transform 0.4s ease-out;
}
.project-button:hover{
 transform: scale(1.1); 
}

.contact-me-container {
  display: flex; 
  flex-direction: column;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
.contact-me-card{
  position: relative;
  margin: auto;
  z-index: 1;
  padding:2rem;
  background: linear-gradient(
    to bottom right, transparent 10%,
    rgba(255, 255, 255, 0.6),
    rgba(233, 233, 233, 0.1)
  );
  backdrop-filter: blur(12px);
  border-radius: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.contact-me-card:before {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 600px;
  height: 400px;
}
.contact-me-card

.contact-input {
background-color:#0f3460;
padding : 0.5rem;
margin: 1rem 0; 
border-color:#e94560;
color:white;
border-radius: 0.5rem;
}
.contact-message:{
  height:5rem;
}
.submit-button{
  padding: 10px 20px;
  background: linear-gradient(to right, #e94560, #724fa7);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s ease;
  animation: background 1s infinite;
}
.submit-button:hover{
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@keyframes background {
  0% {
    background: linear-gradient(to right, #724fa7, #e94560);
  }
  50% {
    background: linear-gradient(to right, #e94560, #724fa7);
  }
  100% {
    background: linear-gradient(to right, #724fa7, #e94560);
  }
}
/* Code for Ipad*/
@media (max-width: 1050px) {
  #desktop {
    visibility: hidden;
  }
  .menu {
    height: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 20;
    padding-top: 0%;
  }
  .About,
  .Skills,
  .Work,
  .Contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .top-space{
    margin-bottom:15%;
  }

  /*Nav Bar*/
  .topnav {
    overflow: hidden;
    background-color: #16213e;
    position: relative;
    font-size: larger;
    font-weight: bold;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: #e94560;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-size: medium;
    font-weight: bold;
  }
  .topnav .icon {
    height: 55.9px;
   }
  .topnav a.icon {
    background: #16213e;
    display: block;
    position: absolute;
    top: 0;
  }
  .links a:hover {
    background-color: #e94560;
    color: #16213e;
  }
  .normal {
    padding: 0.9rem 0px 0rem 0rem;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: block;
    background-color: #16213e;
  }
  .entire-content {
    width: 10rem;
    perspective: 2000px;
  }
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(320deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(2) {
    transform: rotateY(280deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(3) {
    transform: rotateY(240deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(4) {
    transform: rotateY(200deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(6) {
    transform: rotateY(120deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(7) {
    transform: rotateY(80deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(8) {
    transform: rotateY(40deg) translateZ(300px);
  }
  
  .content-carrousel figure:nth-child(9) {
    transform: rotateY(0deg) translateZ(300px);
  }

}

/* Code for mobile*/
@media (max-width: 550px) {
  #desktop {
    visibility: hidden;
  }
  .About,
  .Skills,
  .Work,
  .Contact {
    position: relative;
    margin-left: 0;
    padding-top: 4rem;
  }
  .content-carrousel figure {
    height: 80px;
  }
  .entire-content {
    width: 5rem;
    perspective: 2000px;
  }
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(320deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(2) {
    transform: rotateY(280deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(3) {
    transform: rotateY(240deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(4) {
    transform: rotateY(200deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(6) {
    transform: rotateY(120deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(7) {
    transform: rotateY(80deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(8) {
    transform: rotateY(40deg) translateZ(200px);
  }
  
  .content-carrousel figure:nth-child(9) {
    transform: rotateY(0deg) translateZ(200px);
  }

  .flipcards {
    width: 20rem;
    height: 20rem;
  }

  .project-button {
    padding: 0.5rem 1rem;
    font-weight:bold;
  }

  .submit-button{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}